<form name="Form.Submission" novalidate role="form" autocomplete="off" ng-submit="Form.SubmitForm();">
	<section class="formContainer radius">
		<header class="radius-top">
			<section class="grid-block">
				<h3>
					[FORM TITLE HERE]
				</h3>
			</section>
		</header>

		<section class="formBody">
			<section class="grid-block">
				[FORM HERE...]
			</section>
		</section>

		<footer class="radius-bottom">
			<section class="grid-block">
				<section class="grid-block">
					<small>* required</small>
				</section>
				<section class="grid-block align-right">
					<dl class="horizontalList">
						<dd>
							<a ng-click="DoCancelClick()">
								Cancel
							</a>
						</dd>
						<dd>
							<button class="button radius">
								Save
							</button>
						</dd>
					</dl>
				</section>
			</section>
		</footer>
	</section>
</form>