<form name="Form.Submission"
	  novalidate
	  ng-model-options="{updateOn:'default blur',debounce:{'default':250,'blur':0}}"
	  role="form"
	  autocomplete="off"
	  ng-submit="Form.SubmitForm();">

	<section class="formContainer radius">
		<header class="radius-top">
			<section class="grid-block">
				<h3>
					Login
				</h3>
			</section>
		</header>

		<section class="formBody">
			<section class="grid-block vertical">
				<section class="grid-block">
					<!--USER NAME-->
					<div class="form-group" ng-class="{ 'hasError' : Form.HasError('UserName') }">
						<input type="email"
							   placeholder="email address *"
							   id="UserName"
							   name="UserName"
							   alt="email address"
							   ng-model="Form.Criteria.UserName"
							   floating-validation
							   required />
					</div>
				</section>
				<section class="grid-block">
					<!--PASSWORD-->
					<div class="form-group" ng-class="{ 'hasError' : Form.HasError('Password') }">
						<input type="password"
							   placeholder="password *"
							   id="Password"
							   name="Password"
							   alt="password"
							   ng-model="Form.Criteria.Password"
							   floating-validation
							   required />
					</div>
				</section>
			</section>
		</section>

		<footer class="radius-bottom">
			<section class="grid-block">
				<section class="grid-block">
					<dl class="horizontalList">
						<dd>
							<small>* required</small>
						</dd>
					</dl>
				</section>
				<section class="grid-block align-right">
					<dl class="horizontalList">
						<dd>
							<a ng-click="DoCancelClick()">
								Cancel
							</a>
						</dd>
						<dd>
							<button class="button radius">
								Login
							</button>
						</dd>
					</dl>
				</section>
			</section>
		</footer>
	</section>
</form>